set "PREREQUISITES_DIR=E:\Source\Prerequisites"
set "NSIS_PATH=%PREREQUISITES_DIR%\NSIS"
set "UPX_PATH=%PREREQUISITES_DIR%\UPX"
set "SEVENZ_PATH=%PREREQUISITES_DIR%\SevenZip"
set "VPATCH_PATH=%PREREQUISITES_DIR%\VerPatch"
