/.Compile
/.Release
/Builds/__old__
/Builds/MPlayer-*
/Codecs/*.0
/Codecs/*.acm
/Codecs/*.ax
/Codecs/*.dll
/Codecs/*.DRV
/Codecs/*.qts
/Codecs/*.qtx
/Codecs/*.so
/Codecs/*.vcm
/Codecs/*.vwp
/Codecs/*.xa
/MPUI/*.exe
/MPUI/locale
/Resources/__old__
/SMPlayer/*.ass
/SMPlayer/*.avi
/SMPlayer/*.conf
/SMPlayer/*.dll
/SMPlayer/*.exe
/SMPlayer/*.ini
/SMPlayer/*.m3u8
/SMPlayer/*.txt
/SMPlayer/docs
/SMPlayer/file_settings
/SMPlayer/imageformats
/SMPlayer/mplayer
/SMPlayer/open-fonts
/SMPlayer/screenshots
/SMPlayer/shortcuts
/SMPlayer/themes
/SMPlayer/translations
